# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/3 React Piano/react-piano/node_modules
/3 React Piano/react-piano/.vscode
/1 trello-clone/node_modules
/1 trello-clone/.vscode
/2 Testing Digital Goods Store/Completed/node_modules
/2 Testing Digital Goods Store/Completed/.vscode
/2 Testing Digital Goods Store/step1/node_modules
/2 Testing Digital Goods Store/step1/.vscode
/5 ssr-and-ssg/node_modules
/5 ssr-and-ssg/.vscode
/5 ssr-and-ssg/.next
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
